{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/work.css' %}">
    <title>KPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
</head>
<body>
    {% include 'navbar.html' %}
    

    {% load static %}
    <div class="container">
        <h1 class="headerone">Book to Google Sheet KPI </h1>

            <br>

            <h2 class="nameCenter">
                All Books
            </h2>
            
            <br>

            <table class="table table-bordered">
                <thead class="thead-dark">
                    
                    <tr>
                        <th>F.I.O</th>
                        {% for i in book_items %}
                            <th>
                                {{i}}
                            </th>
                        {% endfor %}
                        <form action="{% url 'all_books' %}" method="post">
                            {% csrf_token %}
                            <td> <input type="text" name="new_book_item" required> 
                            <input type="submit" name="create_book_item" value="Create">  </td>
                        </form>
                    </tr>
                    
                    
                </thead>
                <tbody> 

                    {% for dic_items in data %}
                        {% for kpi, book_list in dic_items.items %}
                        <tr>
                            <td> {{kpi.name}} </td>
                            {% for book in book_list %}
                            <form action="{% url 'all_books' %}" method="POST">
                                {% csrf_token %}
                                <td> <select name="book_score" class="form-control"> 
                                    <option value="{{book.score}}"> {{book.score}} </option>
                                      <option value="1"> 1 </option>
                                      <option value="0"> 0 </option>
                                  </select> <input type="submit" name="save_book" value="Save">  </td>

                                <input type="hidden" name="book_id" value="{{book.book_id}}">
                                <input type="hidden" name="book_item_id" value="{{book.book_item_id}}">
                                <input type="hidden" name="kpi_id" value="{{kpi.id}}">
                            </form>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}

                </tbody>
            </table>



        <a href="https://docs.google.com/spreadsheets/d/13aPcjyMXeHoDP3VeYuTcN4DlKeJEvOr_2t3qR4TV_3w/edit#gid=1208225701">

            <button>Table to Kpi Google Sheet</button>
        </a>
        <button onclick="tableToGoogleSheet()">
            Table to Excel
        </button>
        

    </div>
    
<script type="text/javascript" src="{% static 'js/table2excel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>
</html>