{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>KPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
</head>
<body>
    <div class="container">
        <h1>Table to Google Sheet KPI</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>F.I.O</th>
                    <th>
                        <a href="book">Kitob</a>
                    </th>
                    <th>
                        <a href="sport">Sport</a>
                    </th>
                    <th>
                        <a href="#">Ish</a>
                    </th>
                    <th>
                        <a href="#">Eureka</a>
                    </th>
                    <th class="background-color:green;">Umumiy</th>
                    <th>Liga</th>
                    <th>Koef</th>
                </tr>
            </thead>
            <tbody>
                
                {% for i in kpi  %}  
                <tr>
                    <td>{{i.name}}</td>
                    <td>
                        <a href="book">{{i.book}}</a>
                    </td>
                    <td>
                        <a href="sport">{{i.sport}}</a>
                    </td>
                    <td>
                        <a href="work">{{i.work}}</a>
                    </td>
                    <td>
                        <a href="eureka">{{i.eureka}}</a>
                    </td>
                    <td>{{i.general}}</td>
                    <td>{{i.league}}</td>
                    <td>{{i.koef}}</td>
                </tr>
                {% endfor %}
                

            </tbody>
        </table>

        <a href="https://docs.google.com/spreadsheets/d/13aPcjyMXeHoDP3VeYuTcN4DlKeJEvOr_2t3qR4TV_3w/edit#gid=1208225701">
            <button>Table to Kpi Google Sheet</button>
        </a>
        <button onclick="tableToGoogleSheet()">
            Table to Excel
        </button>

    </div>
    
<script type="text/javascript" src="{% static 'js/table2excel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>